<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Paula Herrán y Patricia Cortajarena.
</p>

<a href="https://github.com/paulaherran">GIThub </a>
<img src="/images/pati.jpg" />
<img src="/images/paula.jpg" />

